<app-botao class="botao-adicionar-conta" (click)="abrirModal()">
    <img class="icone-carteira" src="icones/carteira.svg" alt="Adicionar carteira" />
    Adicionar conta
</app-botao>

<app-modal [(aberto)]="aberto">
    <ng-container modal-cabecalho class="modal-cabecalho">
        <img src="icones/carteira.svg" alt="">
        <h2 class="text-xl">Adicionar Conta</h2>
    </ng-container>

    <form [formGroup]="form" class="form text-md" (ngSubmit)="onSubmit()">
        <label class="label-grupo">
            Nome da Conta
            <input formControlName="nomeConta" class="input" type="text" name="nome-conta">
            <app-campos-erros [control]="form.get('nomeConta')"
                [messages]="{ required: 'O nome é obrigatório.' }"></app-campos-erros>
        </label>

        <label class="label-grupo">
            Valor
            <input formControlName="valorConta" class="input" type="number" name="valor-conta" min="0" step="0.01"
                placeholder="R$ 500,00" required>
            <app-campos-erros [control]="form.get('valorConta')"
                [messages]="{ required: 'O valor é obrigatório.' }"></app-campos-erros>
        </label>


        <app-botao type="submit" class="botao-adicionar-conta">
            Adicionar
        </app-botao>
    </form>
</app-modal>