<app-card>
  <h2 card-titulo class="texto-lg">Movimentação financeira</h2>
  <div class="transacoes-e-botao">
    <ul>
      @for (transacao of transacoes() | ordenaPorData; track transacao.id) {
      <li class="item-entre-divisorias">
        <app-transacao [transacao]="transacao" />
      </li>
      } @empty {
      <li aria-hidden="true">
        Ainda não há transações.
      </li>
      }
    </ul>

    <app-botao-adicionar-transacoes [contas]="contas()" (transacaoCriada)="transacaoCriada.emit($event)" class="botao-adicionar-transacao" />
  </div>
</app-card>